{% extends "layout.html" %}
{% block sidebar %}
    <div class="sidebar">
        <div class="sidebar-user-info">
            <img src="{{ url_for('static', filename='images/' + current_user.image_file) }}" alt="user photo" class="sidebar-img">
            <h2>{{ current_user.username }}</h2>
        </div>
        <div class="post-form">
            <form action="" method="POST" class="form">
                <!-- csrf token tag -->
                {{ form.hidden_tag() }}
                <div class="form-legend">
                    <h1>Update Post</h1>
                </div>
                <div class="form-well">
                    <div class="form-group">
                        {{ form.content.label(class="form-control-label") }}
                        {% if form.content.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.content(class="form-control-post-textarea") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.public.label(class="form-control-boolean-label") }}
                        {{ form.public(class="form-control-boolean") }}
                    </div>
                    <div class="form-group post-submit">
                        {{ form.submit(class="btn")}}
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock sidebar %}