{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>{{ user.username }}'s Posts</h1><h2>{{ posts.total }}</h2>
    <a href="{{ url_for('users.follow_action', username=user.username, action='follow')}}" class="btn">Follow {{ user.followers.count() }}</a>
    <div class="posts-container">
        {%  for post in posts.items %}
            <article class="article-post shadow">
                <div class="post-head">
                    <img src="{{ url_for('static', filename='images/' + post.author.image_file) }}" alt="user photo" class="article-img">
                    <div class="post-metadata">
                        <a class="post-author" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                        <small>{{ post.date_posted }}</small>
                        
                        <p class="btn right">
                            <a href="{{ url_for('posts.like_action', post_id=post.id, action='like') }}" ><ion-icon name="thumbs-up"></ion-icon></a>
                            {{ post.likes.count() }}
                        </p>
                        <a href="{{ url_for('posts.share_post', post_id=post.id) }}" class="btn">
                            <ion-icon name="share-alt"></ion-icon>
                        </a>
                    </div>
                </div>
                    
                <div class="post-body">
                    <p class="post-content">{{ post.content }}</p>
                    <div class="post-buttons">
                        {% if current_user.username == post.author.username %}
                            <a href="{{ url_for('posts.update_post', post_id=post.id) }}" class="btn">Update</a>
                            <a href="{{ url_for('posts.delete_post', post_id=post.id) }}" class="btn">Delete</a>
                        {% endif %}
                        
                    </div>
                    
                </div>
            </article>
        {% endfor %}
        <div class="pagination">
            {% for page_num in posts.iter_pages() %}
                {% if page_num %}
                    <a class="btn btn-info" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}